@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Noto+Serif&family=Roboto:wght@500&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Convergence&display=swap');
*{
  /* font-family: 'Noto Serif', serif; */
  
font-family: 'Roboto', sans-serif;
/* font-family: 'Young Serif', serif;
font-family: 'Contrail One', sans-serif;
font-family: 'Convergence', sans-serif; */

}